h1, h2, h3, h4, h5, h6 {
  color: #333;
}

h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
}

.p-tabview .p-tabview-nav-content {
  scroll-padding-inline: 2.357rem;
}
.p-tabview .p-tabview-nav {
  background: transparent;
  border: 1px none;
}
.p-tabview .p-tabview-nav li {
  margin-right: 2px;
}
.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  border: 1px solid #c8c8c8;
  background: #f4f4f4;
  color: #333333;
  padding: 0.857rem 1rem;
  font-weight: 700;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  transition: background-color 0.2s, box-shadow 0.2s;
  margin: 0 0 -1px 0;
}
.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: inset 0 0 0 0.2rem #8dcdff;
}
.p-tabview .p-tabview-nav li:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link {
  background: #dbdbdb;
  border-color: #dbdbdb;
  color: #333333;
}
.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background: #007ad9;
  border-color: #007ad9;
  color: #ffffff;
}
.p-tabview .p-tabview-left-icon {
  margin-right: 0.5rem;
}
.p-tabview .p-tabview-right-icon {
  margin-left: 0.5rem;
}
.p-tabview .p-tabview-close {
  margin-left: 0.5rem;
}
.p-tabview .p-tabview-nav-btn.p-link {
  background: #007ad9;
  color: #ffffff;
  width: 2.357rem;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  border-radius: 0;
}
.p-tabview .p-tabview-nav-btn.p-link:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: inset 0 0 0 0.2rem #8dcdff;
}
.p-tabview .p-tabview-panels {
  background: #b8b9bc;
  padding: 0.571rem 1rem;
  border: 1px solid #c8c8c8;
  color: #333333;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

/*Presets*/
html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed .main,
html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed .app-footer,
html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .main,
html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .app-footer {
  margin-left: 200px;
}
