<div class="app-footer footer-container">
  <div class="row">
    <div class="footer-top">
      <div class="text-center">
        <div class="footer-logo">
          <a href="#"><img class="img-responsive img-logo" src="assets/img/n-logo.png" alt=""></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="footer-bottom">
      <div class="col-sm-4">
        <p>&copy; <a class="creator-name">{{currentYear}} HPT VietNam .Corp </a>&trade;</p>
      </div>
      <div class="col-sm-4 social-icons">
        <ul>
          <li><a class="facebook" href="#"><i class="fab fa-facebook"></i></a></li>
          <li><a class="youtube" href="#"><i class="fab fa-youtube"></i></a></li>
          <li><a class="skype" href="#"><i class="fab fa-skype"></i></a></li>
          <li><a class="envelope" href="#"><i class="fa fa-envelope"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
          <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
        </ul>
      </div>
      <div class="col-sm-4">
        <p class="pull-right creator">Created with <i class="fa-sharp fa-regular fa-heart"></i> by <a class="creator-name" href="https://www.linkedin.com/in/agesmai/">Agesmai</a></p>
      </div>
    </div>
  </div>
</div>
