<div class="sidebar">
  <div class="sidebar-nav ps" role="tab">
    <div class="nav">
      <div class="nav-item open"><a routerLinkActive="active"
                                    class="active nav-link"
                                    routerLink="/app/dashboard">
        <i class="nav-icon fas fa-light fa-tv" style="color: darkgray"></i>Dashboard</a></div>

      <div class="nav-title">User manager</div>

      <div class="nav-item"><a class="nav-link"
                               routerLink="/app/org-map"><i
        class="nav-icon fas fa-light fa-sitemap"></i>Organization Map</a></div>

      <div class="nav-item"><a class="nav-link"
                               routerLink="/app/user-profile"><i
        class="nav-icon fa fa-user-circle-o"></i>User Profile</a></div>

      <div class="nav-title">Personal</div>

      <div routerLinkActive="open"
           class="nav-item nav-dropdown"><a class="nav-link nav-dropdown-toggle"><i
        class="nav-icon fa fa-id-card"></i>Information</a>
        <div class="nav-dropdown-items">

          <div class="nav-item"><a class="nav-link"
                                   href="#/info/overview"><i
            class="nav-icon fa fa-street-view"></i>Overview</a></div>

          <div class="nav-item"><a class="nav-link"
                                   href="#/base/cards"><i
            class="nav-icon fa fa-id-badge"></i>Basic</a></div>

          <div class="nav-item"><a class="nav-link"
                                   href="#/base/tooltips"><i
            class="nav-icon cui-graph"></i>Relationship</a></div>

          <div class="nav-item"><a class="nav-link"
                                   href="#/base/tooltips"><i
            class="nav-icon icon-layers"></i>Ability</a></div>
        </div>
      </div>
      <div routerLinkActive="open"
           class="nav-item nav-dropdown"><a class="nav-link nav-dropdown-toggle"><i
        class="nav-icon icon-wallet"></i>Income</a>
        <div class="nav-dropdown-items">

          <div class="nav-item"><a class="nav-link"
                                   href="#/buttons/buttons"><i
            class="nav-icon cui-dollar"></i>Salary</a></div>

          <div class="nav-item"><a class="nav-link"
                                   href="#/buttons/dropdowns"><i
            class="nav-icon fa fa-percent"></i>Tax</a></div>

          <div class="nav-item"><a class="nav-link"
                                   href="#/buttons/brand-buttons"><i
            class="nav-icon fa fa-university"></i>Insurance</a></div>
        </div>
      </div>
      <div routerLinkActive="open"
           class="nav-item nav-dropdown"><a class="nav-link nav-dropdown-toggle"><i
        class="nav-icon icon-briefcase"></i>Achievements</a>
        <div class="nav-dropdown-items">

          <div class="nav-item"><a routerLinkActive="active" class="nav-link"><i
            class="nav-icon icon-badge"></i>Badges<span class="badge badge-success">NEW</span></a>
          </div>
          <div class="nav-item"><a routerLinkActive="active" class="nav-link"><i
            class="nav-icon icon-trophy"></i>Trophies</a></div>

          <div class="nav-item"><a routerLinkActive="active" class="nav-link"><i
            class="nav-icon icon-target"></i>Targets</a></div>
        </div>
      </div>
      <div routerLinkActive="open"
           class="nav-item nav-dropdown"><a class="nav-link nav-dropdown-toggle"><i
        class="nav-icon icon-book-open"></i>Story</a>
        <div class="nav-dropdown-items">

          <div class="nav-item"><a routerLinkActive="active" class="nav-link"
                                   href="#/story/scoring"><i
            class="nav-icon icon-emotsmile"></i>Social Scoring</a></div>

          <div class="nav-item"><a routerLinkActive="active" class="nav-link"
                                   href="#/story/history"><i
            class="nav-icon fa fa-history"></i>History</a></div>

          <div class="nav-item"><a routerLinkActive="active" class="nav-link"
                                   href="#/story/organization"><i
            class="nav-icon fa fa-sitemap"></i>Organization</a></div>
        </div>
      </div>
      <div class="nav-divider"></div>

      <div class="nav-title">Ranking</div>

      <div routerLinkActive="open"
           class="nav-item nav-dropdown"><a class="nav-link nav-dropdown-toggle"><i
        class="nav-icon fa fa-hashtag"></i>Ranking</a>
        <div class="nav-dropdown-items">

          <div class="nav-item"><a routerLinkActive="active" class="nav-link"
                                   href="#/login"><i
            class="nav-icon fa fa-globe"></i>Global</a></div>

          <div class="nav-item"><a routerLinkActive="active" class="nav-link"
                                   href="#/register"><i
            class="nav-icon fa fa-handshake-o"></i>Acquaintance</a></div>
        </div>
      </div>
      <div routerLinkActive="open"
           class="nav-item nav-dropdown"><a class="nav-link nav-dropdown-toggle"><i
        class="nav-icon icon-fire"></i>Campaign</a>
        <div class="nav-dropdown-items">

          <div class="nav-item"><a routerLinkActive="active" class="nav-link"
                                   href="#/login"><i
            class="nav-icon cui-star"></i>Assessment</a></div>

          <div class="nav-item"><a routerLinkActive="active" class="nav-link"
                                   href="#/register"><i
            class="nav-icon fa fa-gamepad"></i>Mission</a></div>
        </div>
      </div>
      <div class="nav-title">Analytics</div>

      <div class="nav-item"><a routerLinkActive="active" class="nav-link"
                               href="#/reports"><i
        class="nav-icon fa fa-line-chart"></i>Reports</a></div>

      <div class="nav-item"><a routerLinkActive="active"
                               class="nav-link disabled btn-link" disabled="true"
                               href="#/dashboard"><i
        class="nav-icon cui-ban"></i>Disabled<span class="badge badge-secondary">Disabled</span></a>
      </div>
    </div>
  </div>
  <div class="sidebar-minimizer" role="button"></div>
  <button class="sidebar-minimizer" data-toggle="sidebarMinimized" role="button"></button>
</div>


